.login-container {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px lightgray;
}

.form-error-text {
  color: red;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
}
