.login-layout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .back {
      position: absolute;
      left: 0px;
      top: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;

      // .icon {
      // }
    }

    .title-green {
      color: $theme-primary;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .success-message,
    .error-message {
      box-sizing: border-box;
      width: 400px;
      padding: 20px 30px 20px 30px;
      border-radius: 10px;
      margin-bottom: 50px;
      color: white;

      span {
        margin-right: 10px;
      }
    }

    .success-message {
      background-color: $theme-primary;
    }

    .error-message {
      background-color: red;
    }
  }
}
