.login-layout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .back {
      position: absolute;
      left: 0px;
      top: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;

      // .icon {
      // }
    }

    .title-green {
      color: $theme-primary;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
      min-width: 400px;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.1);

      .input-container {
        padding-bottom: 20px;

        input {
          border: none;
          outline: none;
          background: $theme-gray;
          padding: 10px;
          border-radius: 5px;
          width: 96%;
          font-family: "Josefin Sans", sans-serif;

          &::placeholder {
            opacity: 0.5;
          }
        }
      }

      button {
        width: 100%;
      }

      hr {
        margin: 30px;
        border: none;
        outline: none;
        border-top: 2px solid $theme-gray;
      }

      .form-info-text {
        text-align: center;
        color: $theme-primary;
        margin: 30px;
      }
    }

    .form-error-text {
      color: $theme-secondary;
      text-transform: lowercase;
      font-weight: 400;
      font-size: 0.9rem;
    }
  }
}
